USE [gestaopedidosdb]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [CK_Order_currentStatus]
GO
ALTER TABLE [dbo].[OrderStatusHistory] DROP CONSTRAINT [FK_OrderStatusHistory_Order]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[OrderStatusHistory] DROP CONSTRAINT [DF_OrderStatusHistory_changedAt]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [DF_Order_totalAmount]
GO
ALTER TABLE [dbo].[ErrorLog] DROP CONSTRAINT [DF_ErrorLog_time]
GO
/****** Object:  Index [IX_OrderStatusHistory_order_time]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [IX_OrderStatusHistory_order_time] ON [dbo].[OrderStatusHistory]
GO
/****** Object:  Index [IX_Order_currentStatus]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [IX_Order_currentStatus] ON [dbo].[Order]
GO
/****** Object:  Index [IX_Order_createdAtUtc]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [IX_Order_createdAtUtc] ON [dbo].[Order]
GO
/****** Object:  Index [IX_Order_clientId]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [IX_Order_clientId] ON [dbo].[Order]
GO
/****** Object:  Index [IX_ErrorLog_level_time]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [IX_ErrorLog_level_time] ON [dbo].[ErrorLog]
GO
/****** Object:  Index [UX_Client_email]    Script Date: 08/09/2025 20:06:58 ******/
DROP INDEX [UX_Client_email] ON [dbo].[Client]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 08/09/2025 20:06:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderStatusHistory]') AND type in (N'U'))
DROP TABLE [dbo].[OrderStatusHistory]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/09/2025 20:06:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 08/09/2025 20:06:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ErrorLog]') AND type in (N'U'))
DROP TABLE [dbo].[ErrorLog]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 08/09/2025 20:06:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Client]') AND type in (N'U'))
DROP TABLE [dbo].[Client]
GO
/****** Object:  User [egitron]    Script Date: 08/09/2025 20:06:58 ******/
DROP USER [egitron]
GO
USE [master]
GO
/****** Object:  Database [gestaopedidosdb]    Script Date: 08/09/2025 20:06:58 ******/
DROP DATABASE [gestaopedidosdb]
GO
/****** Object:  Database [gestaopedidosdb]    Script Date: 08/09/2025 20:06:58 ******/
CREATE DATABASE [gestaopedidosdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestaopedidosdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\gestaopedidosdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestaopedidosdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\gestaopedidosdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestaopedidosdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestaopedidosdb]
GO
/****** Object:  User [egitron]    Script Date: 08/09/2025 20:06:58 ******/
CREATE USER [egitron] FOR LOGIN [egitron] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [egitron]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [egitron]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 08/09/2025 20:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[clientId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[createdAtUtc] [datetime2](0) NULL,
	[updatedAtUtc] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 08/09/2025 20:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[errorId] [bigint] IDENTITY(1,1) NOT NULL,
	[occurredAtUtc] [datetime2](0) NOT NULL,
	[level] [varchar](20) NOT NULL,
	[source] [nvarchar](120) NULL,
	[endpoint] [nvarchar](255) NULL,
	[message] [nvarchar](400) NOT NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[errorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/09/2025 20:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[currentStatus] [varchar](20) NOT NULL,
	[totalAmount] [decimal](12, 2) NOT NULL,
	[createdAtUtc] [datetime2](0) NULL,
	[updatedAtUtc] [datetime2](0) NULL,
	[validated] [bit] NULL,
	[validationReason] [varchar](255) NULL,
	[validationExternalId] [varchar](64) NULL,
	[validatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 08/09/2025 20:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[historyId] [bigint] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[changedAtUtc] [datetime2](0) NOT NULL,
	[changedBy] [nvarchar](120) NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[historyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Client_email]    Script Date: 08/09/2025 20:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Client_email] ON [dbo].[Client]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ErrorLog_level_time]    Script Date: 08/09/2025 20:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_ErrorLog_level_time] ON [dbo].[ErrorLog]
(
	[level] ASC,
	[occurredAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_clientId]    Script Date: 08/09/2025 20:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_Order_clientId] ON [dbo].[Order]
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_createdAtUtc]    Script Date: 08/09/2025 20:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_Order_createdAtUtc] ON [dbo].[Order]
(
	[createdAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_currentStatus]    Script Date: 08/09/2025 20:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_Order_currentStatus] ON [dbo].[Order]
(
	[currentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistory_order_time]    Script Date: 08/09/2025 20:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistory_order_time] ON [dbo].[OrderStatusHistory]
(
	[orderId] ASC,
	[changedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_time]  DEFAULT (sysutcdatetime()) FOR [occurredAtUtc]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_totalAmount]  DEFAULT ((0)) FOR [totalAmount]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  CONSTRAINT [DF_OrderStatusHistory_changedAt]  DEFAULT (sysutcdatetime()) FOR [changedAtUtc]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([clientId])
REFERENCES [dbo].[Client] ([clientId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Order]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_currentStatus] CHECK  (([currentStatus]='REJECTED' OR [currentStatus]='APPROVED' OR [currentStatus]='PENDING'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_currentStatus]
GO
USE [master]
GO
